.examples {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.examples__flex {
    display: flex;
    gap: 30px;
}

.examples__thumb {
    position: relative;
}

.examples__block {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.examples__title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
}