.button-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 46px;
    gap: 15px;

    @include tablet {
        justify-content: center;
        gap: 8px;

    }
}

.button-list__button {
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--header-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $primary-white-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-list__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-list__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-list__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 44px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $primary-white-color;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(+100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-list__item:hover & {
        transform: translateY(0);
    }
}

.portfolio-list__header {
    color: $title-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list__description {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-list__text {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}